<div class="about-container">
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to conspiracy ranker! You get to choose which conspiracies are the coolest and which ones are the lamest!</p>

        <h2>Rating Criteria</h2>
        <p>Users have a few separate ways they decide to rank conspiracies. Here are a few options for you: how much you believe it, how cool it would be if true, how important the conspiracy has been on the world stage, and more. The most important this
            is that you have fun with it. Remember conspiracies are about what you bring to the table and remember there are real conspiracies in the world that need your attention so don't waste your time trying to fight fake ones!</p>

        <h2>Contact Us</h2>
        <p>COME BACK WITH A WARRANT</p>
    </div>
</div>