<div class="panel custom-panel">
    <div class="panel-heading custom-panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="panel-title custom-panel-title">Conspiracies</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="input-group custom-input-group">
                    <input type="text" class="form-control custom-search-input" placeholder="Enter a search value." #searchBox (keyup)="search(searchBox.value)">
                    <span class="input-group-btn">
                        <button class="btn custom-search-button" type="button" (click)="search(searchBox.value)">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-5 text-right">
                <a class="btn custom-new-button" [routerLink]="['new']">
                    <span class="glyphicon glyphicon-plus"></span> New Conspiracy
                </a>
                <button class="btn custom-sort-button" (click)="toggleSort()">
                    <span class="glyphicon glyphicon-sort"></span> Sort by Rating ({{ sortDirection === 'asc' ? 'Ascending' : 'Descending' }})
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body custom-panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="list-group custom-list-group">
                    <app-conspiracy-item *ngFor="let conspiracyEl of conspiracies | conspiraciesFilter:term" [routerLink]="conspiracyEl.id" [conspiracy]="conspiracyEl" class="list-group-item custom-list-item">
                        <!-- Add additional styling or content here if needed -->
                    </app-conspiracy-item>
                </div>
            </div>
        </div>
    </div>
</div>