<div class="panel custom-panel">
    <div class="panel-heading custom-panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="panel-title custom-title">{{ conspiracy.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="{{ conspiracy.imageUrl }}" alt="{{ conspiracy.name }}" class="img-responsive custom-img hover-effect">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <a [routerLink]="'edit'" class="btn custom-edit-button btn-xs">Edit</a>
                <a (click)="onDelete()" class="btn custom-delete-button btn-xs">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body custom-panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p><strong>Description:</strong> {{ conspiracy.description }}</p>
                <p><strong>Rating:</strong> {{ conspiracy.rating }}</p>
            </div>
        </div>
    </div>
</div>